In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
data = pd.read_csv("adult_data.csv")
data.head()

   age         workclass  fnlwgt  ... hours-per-week  native-country salary
0   39         State-gov   77516  ...             40   United-States  <=50K
1   50  Self-emp-not-inc   83311  ...             13   United-States  <=50K
2   38           Private  215646  ...             40   United-States  <=50K
3   53           Private  234721  ...             40   United-States  <=50K
4   28           Private  338409  ...             40            Cuba  <=50K

[5 rows x 15 columns]

In [ ]:

1. Сколько мужчин и женщин (признак sex) представлено в этом наборе данных?

In [3]:
data['sex'].value_counts()

Male      21790
Female    10771
Name: sex, dtype: int64

2. Каков средний возраст (признак age) женщин?

In [4]:
women = data.loc[data["sex"] == "Female"]
women["age"].mean()

36.85823043357163

3. Какова доля граждан Германии (признак native-country)?

In [5]:
germans = (data["native-country"] == "Germany").sum()
people = data.shape [0]
float(germans / people)

0.004207487485028101

4-5. Каковы средние значения и среднеквадратичные отклонения возраста тех, кто получает более 50K в год (признак salary) и тех, кто получает менее 50K в год?

In [6]:
avrich = data.loc[data["salary"] == ">50K"]['age'].mean()
stdrich = data.loc[data["salary"] == ">50K"]['age'].std(ddof=0)
avpoor = data.loc[data["salary"] == "<=50K"]['age'].mean()
stdpoor = data.loc[data["salary"] == "<=50K"]['age'].std(ddof=0)
print(avrich, stdrich, avpoor, stdpoor, sep="\n")

44.24984058155847
10.518356927661575
36.78373786407767
14.019804910115214

6. Правда ли, что люди, которые получают больше 50k, имеют как минимум высшее образование? (признак education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters или Doctorate)

In [10]:
education = np.array(["Bachelors", "Prof-school", "Assoc-acdm", "Assoc-voc", "Masters", "Doctorate"])
salary = data[data['salary'] == '>50K']['education'].unique()
np.array_equal(education, salary, equal_nan=False)

False

7. Выведите статистику возраста для каждой расы (признак race) и каждого пола. Используйте groupby и describe. Найдите таким образом максимальный возраст мужчин расы Amer-Indian-Eskimo.

In [11]:
data.groupby(["race", "sex"]).age.describe()

                             count       mean        std  ...   50%    75%   max
race               sex                                    ...
Amer-Indian-Eskimo Female    119.0  37.117647  13.114991  ...  36.0  46.00  80.0
                   Male      192.0  37.208333  12.049563  ...  35.0  45.00  82.0
Asian-Pac-Islander Female    346.0  35.089595  12.300845  ...  33.0  43.75  75.0
                   Male      693.0  39.073593  12.883944  ...  37.0  46.00  90.0
Black              Female   1555.0  37.854019  12.637197  ...  37.0  46.00  90.0
                   Male     1569.0  37.682600  12.882612  ...  36.0  46.00  90.0
Other              Female    109.0  31.678899  11.631599  ...  29.0  39.00  74.0
                   Male      162.0  34.654321  11.355531  ...  32.0  42.00  77.0
White              Female   8642.0  36.811618  14.329093  ...  35.0  46.00  90.0
                   Male    19174.0  39.652498  13.436029  ...  38.0  49.00  90.0

[10 rows x 8 columns]

8. Среди кого больше доля зарабатывающих много (>50K): среди женатых или холостых мужчин (признак marital-status)? Женатыми считаем тех, у кого marital-status начинается с Married (Married-civ-spouse, Married-spouse-absent или Married-AF-spouse), остальных считаем холостыми.

In [14]:
richm = data[(data["sex"] == "Male") & (data["marital-status"].str.startswith('Married'))] ['salary'].value_counts()[1]
richnm = data[(data["sex"] == "Male") & (data["marital-status"].isin(['Never-married', 'Separated', 'Divorced']))] ['salary'].value_counts()[1]
men = (data["sex"] == 'Male').count()
print('Доля женатых, зарабатывающих >50k:', richm/men)
print('Доля холостых, зарабатывающих >50k:', richnm/men)

Доля женатых, зарабатывающих >50k: 0.18319461932987316
Доля холостых, зарабатывающих >50k: 0.020208224563127666

9. Какое максимальное число часов человек работает в неделю (признак hours-per-week)? Сколько людей работают такое количество часов и каков среди них процент зарабатывающих много?

In [ ]:
maxh = data['hours-per-week'].max()
workers = (data['hours-per-week'] == maxh).sum()
rich_workers = data[(data['hours-per-week'] == maxh)] ['salary'].value_counts()[1]
print('Максимальное кол-во часов в неделю:', maxh)
print('Количество работяг:', workers)
print("Процент богатых работяг:", ((rich_workers/workers) * 100),'%')

Максимальное кол-во часов в неделю: 99
Количество работяг: 85
Процент богатых работяг: 29.411764705882355 %

10. Посчитайте среднее время работы (hours-per-week) зарабатывающих мало и много (salary) для каждой страны (native-country).

In [15]:
pd.set_option('display.max_rows', 82)
pd.DataFrame(data.groupby(["native-country", "salary"])["hours-per-week"].mean())

                                   hours-per-week
native-country             salary
?                          <=50K        40.164760
                           >50K         45.547945
Cambodia                   <=50K        41.416667
                           >50K         40.000000
Canada                     <=50K        37.914634
                           >50K         45.641026
China                      <=50K        37.381818
                           >50K         38.900000
Columbia                   <=50K        38.684211
                           >50K         50.000000
Cuba                       <=50K        37.985714
                           >50K         42.440000
Dominican-Republic         <=50K        42.338235
                           >50K         47.000000
Ecuador                    <=50K        38.041667
                           >50K         48.750000
El-Salvador                <=50K        36.030928
                           >50K         45.000000
England                    <=50K        40.483333
                           >50K         44.533333
France                     <=50K        41.058824
                           >50K         50.750000
Germany                    <=50K        39.139785
                           >50K         44.977273
Greece                     <=50K        41.809524
                           >50K         50.625000
Guatemala                  <=50K        39.360656
                           >50K         36.666667
Haiti                      <=50K        36.325000
                           >50K         42.750000
Holand-Netherlands         <=50K        40.000000
Honduras                   <=50K        34.333333
                           >50K         60.000000
Hong                       <=50K        39.142857
                           >50K         45.000000
Hungary                    <=50K        31.300000
                           >50K         50.000000
India                      <=50K        38.233333
                           >50K         46.475000
Iran                       <=50K        41.440000
                           >50K         47.500000
Ireland                    <=50K        40.947368
                           >50K         48.000000
Italy                      <=50K        39.625000
                           >50K         45.400000
Jamaica                    <=50K        38.239437
                           >50K         41.100000
Japan                      <=50K        41.000000
                           >50K         47.958333
Laos                       <=50K        40.375000
                           >50K         40.000000
Mexico                     <=50K        40.003279
                           >50K         46.575758
Nicaragua                  <=50K        36.093750
                           >50K         37.500000
Outlying-US(Guam-USVI-etc) <=50K        41.857143
Peru                       <=50K        35.068966
                           >50K         40.000000
Philippines                <=50K        38.065693
                           >50K         43.032787
Poland                     <=50K        38.166667
                           >50K         39.000000
Portugal                   <=50K        41.939394
                           >50K         41.500000
Puerto-Rico                <=50K        38.470588
                           >50K         39.416667
Scotland                   <=50K        39.444444
                           >50K         46.666667
South                      <=50K        40.156250
                           >50K         51.437500
Taiwan                     <=50K        33.774194
                           >50K         46.800000
Thailand                   <=50K        42.866667
                           >50K         58.333333
Trinadad&Tobago            <=50K        37.058824
                           >50K         40.000000
United-States              <=50K        38.799127
                           >50K         45.505369
Vietnam                    <=50K        37.193548
                           >50K         39.200000
Yugoslavia                 <=50K        41.600000
                           >50K         49.500000